body {
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(./Assets/pexels-athena-2961968.jpg);
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #ffe8c8;
  color: #ffe8c8;
  border-radius: 15%;
  font-size: large;
  cursor: pointer;
}

h1 {
  color: #ffa62f;
  text-align: center;
  padding: 50px;
}

img {
  height: 300px;
  width: 250px;
  background: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url(./Assets/Chai.jpg);
  background-size: cover;
  border: 3px solid #ffe8c8;
  border-radius: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-size: large;
  color: #ffc96f;
  font-weight: bold;
  padding: 60px;
  text-align: center;
  text-decoration: dotted;
}
